# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vscode workspace file
*.code-workspace

# pycache
__pycache__/

# vim
.vim/

# emacs
\#*\#
tramp
.\#*

# emacs projectiles files
.projectile

# emacs directory configuration
.dir-locals.el

# emacs flymake-mode
*_flymake.*

# lsp server
.clangd/
.cache/
.ccls/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
pytestdebug.log